version: '3.7'
services:
  server:
    image: awinterstein/habitica-server:5.42.2@sha256:217bcefc5694110585f7c26279946b6ed9f209030ecb5d22c75e7fd00a18bd88
    restart: on-failure
    depends_on:
    - mongo
    environment:
    - NODE_DB_URI=mongodb://habitica_mongo_1/habitica
    - BASE_URL=http://${DEVICE_DOMAIN_NAME}:3944
    - INVITE_ONLY=false
  mongo:
    image: mongo:8.0.11@sha256:5941949d3887e40be5175787aade07dc052f2cddb8ce21b740c3948eba6a3ed0
    restart: on-failure
    command:
    - --replSet
    - rs
    - --bind_ip_all
    - --port
    - '27017'
    healthcheck:
      test: 'echo "try { rs.status() } catch (err) { rs.initiate({ _id: ''rs'', members: [{ _id: 0, host: ''habitica_mongo_1:27017'' }] }) }" | mongosh --port 27017 --quiet

        '
      interval: 10s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
    - ${APP_DATA_DIR}/data/db:/data/db:rw
    - ${APP_DATA_DIR}/data/dbconf:/data/configdb
