version: '3.7'
services:
  web:
    image: ghcr.io/mealie-recipes/mealie:v3.6.1@sha256:e4690164cc4ed1bbd82adc00dd9aeed37bd49d938fe2f0ca46cb5082d05ddb71
    restart: on-failure
    environment:
      ALLOW_SIGNUP: 'true'
      PUID: 1000
      PGID: 1000
      MAX_WORKERS: 1
      WEB_CONCURRENCY: 1
    volumes:
    - ${APP_DATA_DIR}/data:/app/data
