version: '3.7'
services:
  importer:
    image: fireflyiii/data-importer:version-1.9.1@sha256:40c843927de8fc92bc636394f7c6d9714ba45efbadbd840eb0b3aec7025b3ba1
    restart: on-failure
    environment:
    - FIREFLY_III_URL=http://firefly-iii_server_1:8080
    - VANITY_URL=http://${DEVICE_DOMAIN_NAME}:30009
