version: '3.7'
services:
  server:
    image: n8nio/n8n:1.123.5@sha256:c8ea89d97e420858c61d39ead4f310284dba3a4462521ec169e54a0254f213c2
    restart: on-failure
    volumes:
    - ${APP_DATA_DIR}/data:/home/node/.n8n
    stop_grace_period: 1m
    environment:
    - PUID=1000
    - PGID=1000
    - N8N_HOST=$DEVICE_DOMAIN_NAME
    - N8N_SECURE_COOKIE=false
    - N8N_DIAGNOSTICS_ENABLED=false
    - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
    - N8N_RUNNERS_ENABLED=true
