version: '3.7'
services:
  server:
    image: deverickapollo/umbrel-monero:v1.0.8@sha256:4cfb0a9b852175b73c9c3cb37771eb28c20fd21140bb85a98726dd6d09ee03f9
    depends_on:
    - monerod
    restart: on-failure
    expose:
    - '9976'
    volumes:
    - ${APP_DATA_DIR}/data/app:/data
    - ${APP_MONERO_DATA_DIR}:/monero/.monero
    environment:
      PORT: '9976'
      MONERO_HOST: ${APP_MONERO_NODE_IP}
      MONERO_P2P_PORT: ${APP_MONERO_P2P_PORT}
      MONERO_RPC_PORT: ${APP_MONERO_RPC_PORT}
      MONERO_RESTRICTED_RPC_PORT: ${APP_MONERO_RESTRICTED_RPC_PORT}
      MONERO_DEFAULT_NETWORK: ${MONERO_DEFAULT_NETWORK}
      MONERO_RPC_USER: ${APP_MONERO_RPC_USER}
      MONERO_RPC_PASSWORD: ${APP_MONERO_RPC_PASS}
      MONERO_RPC_HIDDEN_SERVICE: ${APP_MONERO_RPC_HIDDEN_SERVICE}
      MONERO_P2P_HIDDEN_SERVICE: ${APP_MONERO_P2P_HIDDEN_SERVICE}
      DEVICE_DOMAIN_NAME: ${DEVICE_DOMAIN_NAME}
      MONEROD_IP: ${APP_MONERO_NODE_IP}
      TOR_PROXY_IP: ${APP_MONERO_TOR_PROXY_IP}
      TOR_PROXY_PORT: '9050'
      TOR_PROXY_CONTROL_PORT: '9051'
      TOR_PROXY_CONTROL_PASSWORD: moneyprintergobrrr
      I2P_DAEMON_IP: ${APP_MONERO_I2P_DAEMON_IP}
      I2P_DAEMON_PORT: '7656'
    networks:
      default:
        ipv4_address: $APP_MONERO_IP
  monerod:
    user: 1000:1000
    restart: unless-stopped
    stop_grace_period: 15m
    command: ${APP_MONERO_COMMAND}
    image: ghcr.io/sethforprivacy/simple-monerod:v0.18.4.4@sha256:c03c5145bafecc57024bf922a945cfc6fe3dc70fe2cc4a25e6a7e0d351e659ef
    ports:
    - ${APP_MONERO_P2P_PORT}:${APP_MONERO_P2P_PORT}
    - ${APP_MONERO_RPC_PORT}:${APP_MONERO_RPC_PORT}
    volumes:
    - ${APP_MONERO_DATA_DIR}:/home/monero/.bitmonero
    networks:
      default:
        ipv4_address: $APP_MONERO_NODE_IP
  tor:
    image: getumbrel/tor:0.4.7.8@sha256:2ace83f22501f58857fa9b403009f595137fa2e7986c4fda79d82a8119072b6a
    user: 1000:1000
    restart: on-failure
    volumes:
    - ${APP_DATA_DIR}/torrc:/etc/tor/torrc:ro
    - ${TOR_DATA_DIR}:/data
    environment:
      HOME: /tmp
    networks:
      default:
        ipv4_address: ${APP_MONERO_TOR_PROXY_IP}
