version: '3.7'
services:
  app:
    image: ghcr.io/muchobien/pocketbase:0.31.0@sha256:68e3d191ee00f120472e2abda41e3b8dc4155a4435172a8e28e2b37dc94fc1f2
    restart: on-failure
    stop_grace_period: 1m
    volumes:
    - ${APP_DATA_DIR}/data/data:/pb_data
    - ${APP_DATA_DIR}/data/public:/pb_public
    - ${APP_DATA_DIR}/data/hooks:/pb_hooks
    - ${APP_DATA_DIR}/data/migrations:/pb_migrations
