version: '3.7'
services:
  app:
    image: kimai/kimai2:apache-2.44.0@sha256:1f97d3512c4fbbefb128ca1426a441513abf9b426092325c837b0575b2c02c9d
    volumes:
    - ${APP_DATA_DIR}/data/app:/opt/kimai/var/data
    - ${APP_DATA_DIR}/data/app/plugins:/opt/kimai/var/plugins
    environment:
      ADMINMAIL: user@livinity.local
      ADMINPASS: changeme
      DATABASE_URL: mysql://kimaiuser:${APP_PASSWORD}@kimai_db_1/kimai?charset=utf8mb4&serverVersion=8.3.0
    restart: on-failure
    depends_on:
    - db
  db:
    user: 1000:1000
    image: mariadb:11.4.5@sha256:5dfb3093333fa0ea53194ddef0a2bfa21d3b1e1353bd228b22610cd6fc0c04da
    volumes:
    - ${APP_DATA_DIR}/data/db:/var/lib/mysql
    environment:
      MYSQL_DATABASE: kimai
      MYSQL_USER: kimaiuser
      MYSQL_PASSWORD: $APP_PASSWORD
      MYSQL_ROOT_PASSWORD: $APP_PASSWORD
    restart: on-failure
    healthcheck:
      test: mysqladmin -p$$MYSQL_ROOT_PASSWORD ping -h localhost
      interval: 20s
      start_period: 10s
      timeout: 10s
      retries: 3
