version: '3.7'
services:
  fedimintd:
    image: fedimint/fedimintd:v0.9.1@sha256:cb195f2ce852ce92584b27fcedf93558ced630683ed70c5b0fd9ddc6fceeb6f1
    ports:
    - 8173:8173/tcp
    - 8173:8173/udp
    - 8174:8174/udp
    volumes:
    - ${APP_DATA_DIR}/data:/data
    environment:
      FM_ENABLE_IROH: 'true'
      FM_DATA_DIR: /data
      FM_BITCOIN_NETWORK: ${APP_BITCOIN_NETWORK_ELECTRS}
      FM_BITCOIND_USERNAME: ${APP_BITCOIN_RPC_USER}
      FM_BITCOIND_PASSWORD: ${APP_BITCOIN_RPC_PASS}
      FM_BITCOIND_URL: http://${APP_BITCOIN_NODE_IP}:${APP_BITCOIN_RPC_PORT}
      FM_BIND_UI: 0.0.0.0:8175
    restart: on-failure
