version: '3.7'
services:
  web:
    image: lncm/specter-desktop:v2.1.1@sha256:cc3c718086efa4a906e0d6178e14288484cdf69c48d29becb58b8efd8524c5ef
    stop_signal: SIGINT
    restart: on-failure
    stop_grace_period: 1m
    volumes:
    - ${APP_DATA_DIR}/data:/data
    command:
    - --host=0.0.0.0
    - --specter-data-folder=/data
    environment:
      BTC_RPC_USER: $APP_BITCOIN_RPC_USER
      BTC_RPC_PASSWORD: $APP_BITCOIN_RPC_PASS
      BTC_RPC_HOST: $APP_BITCOIN_NODE_IP
      BTC_RPC_PORT: $APP_BITCOIN_RPC_PORT
      BTC_RPC_PROTOCOL: http
