version: '3.7'
services:
  web:
    image: ghcr.io/autobrr/autobrr:v1.70.0@sha256:c691d8ddd5184c155d1732244519f0c09dc44559a7a0da14c6d0dc3edf7fcfb3
    restart: on-failure
    stop_grace_period: 1m
    user: 1000:1000
    volumes:
    - ${APP_DATA_DIR}/data:/config
