version: '3.9'
services:
  server:
    image: stalwartlabs/stalwart:v0.14.1@sha256:54e381c1f6a637fd7b00a8b5778103bcc9763c7073fa72e45795fce275bff610
    user: 1000:1000
    ports:
    - 10443:443
    - 601525
    - 10465:465
    - 10587:587
    - 10143:143
    - 10993:993
    - 14190:4190
    - 10110:110
    - 10995:995
    volumes:
    - ${APP_DATA_DIR}/data:/opt/stalwart
    restart: on-failure
