version: '3.7'
services:
  server:
    image: triliumnext/trilium:v0.100.0@sha256:8a8f15720c50583e82bc180ca1820942f1a2ffb4ce70ab65eab1bf051b55e440
    restart: on-failure
    environment:
    - TRILIUM_DATA_DIR=/data
    volumes:
    - ${APP_DATA_DIR}/data:/data
